{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-center">All Recipes</h2>
    <a href={% url 'add_recipe' %} class="btn btn-success" target="_blank">➕ Add New Recipe</a>
</div>
<div class="row">
    {% for recipe in recipes %}
    <div class="col-md-4 mb-3">
        <div class="card h-100">
            <img src="{{ recipe.image_url }}" class="card-img-top" alt="Recipe Image">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">{{ recipe.description }}</p>
                <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-center">No recipes available.</p>
    {% endfor %}
</div>
{% endblock %}
