{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Chai aur Code is a great channel for learning web development.</h1>
    <div class="lists">
        <li>He teaches JavaScript.</li>
        <li>He taught Django.</li>
        <li>He teaches ReactJS.</li>
        <li>He teaches Laravel also.</li>
    </div>
    <h3>His GitHub profile is:</h3>
    <p>
        <a href="https://github.com/hiteshchoudhary" </a>
    </p>
    <p>You can visit his GitHub and learn from there.</p>
</body>
</html>