{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <h1>You are not worthy to contact Chai Aur Code.</h1>
    <h3>But, still I am giving you his Discord link: </h3><br>
    <p>
        <a href="https://hitesh.ai/discord" </a>
    </p>
    <p>You can join the Discord from here.</p>
{% endblock %}




{% comment %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>You are not worthy to contact Chai Aur Code.</h1>
    <h3>But, still I am giving you his Discord link: </h3><br>
    <p>
        <a href="https://hitesh.ai/discord" </a>
    </p>
    <p>You can join the Discord from here.</p>
</body>
</html> {% endcomment %}