body {
    background-color: #08153d;
    color: #FFFFFF;
}

h1, h3 {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p, #links{
    color: #ffffff;
    text-align: center;
    font-family: cursive;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lists{
    color: #ffffff;
    text-align: center;
    font-family: cursive;
    font-weight: lighter;
    display: block;
    justify-content: center;
    align-items: center;
}